@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "aramisi";
    src: url("./fonts/aramisi.ttf");
}

html, body {
    max-width: 100%;
    width: 100%;
    overflow-x: clip;
}

